<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Delete playlist</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand"><img src="../../../resources/static/img/iconfinder-icon.svg"
                                            th:src="@{/img/iconfinder-icon.svg}"
                                            height="32" width="32" alt="HR"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="../playlists/playlists.html"
                           th:href="@{/playlists}" >Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="songs.html"
                           th:href="@{/songs}">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <ul class="navbar-nav float-start">
            <li class="nav-item" title="Back to list">
                <a href="songs.html"
                   th:href="@{/songs}"
                   class="btn btn-light btn-block">
                    <i class="bi-arrow-left"></i></a>
            </li>
        </ul>
        <span class="navbar-brand text-uppercase me-auto" >Delete song</span>
    </nav>
</header>
<section class="container-fluid">
    <div class="card text-white bg-dark mb-3">
        <form id="playlistForm"
              th:method="DELETE"
              th:action="@{|/songs/${song.getSongId()}|}">
                <div class="mb-3">
                    <p th:text="'Please confirm delete song:' + ${song.getSinger()} + '-' + ${song.getTittle()}">Please confirm delete playlist:</p>
                </div>

                <div class="d-flex justify-content-start">
                    <a href="songs.html"
                       th:href="@{/songs}"
                       class="btn btn-dark btn-outline-light me-1"
                       title="Cancel">Cancel</a>
                    <input type="submit"
                           class="btn btn-dark btn-outline-danger"
                           title="Delete playlist"
                           value="Delete"/>
                </div>
        </form>
    </div>
</section>
<footer>
    <hr/>
    <p class="text px-3">&copy;2021</p>
</footer>
<script src="../../static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>