<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Playlists</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand"><img src="../../../resources/static/img/iconfinder-icon.svg"
                                            th:src="@{/img/iconfinder-icon.svg}"
                                            height="32" width="32" alt="HR"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active fs-5"
                           href="playlists.html"
                           th:href="@{/playlists}" >Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="../songs/songs.html"
                           th:href="@{/songs}">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Playlists</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="playlist.html"
                       th:href="@{/playlists/new}"
                       class="btn btn-outline-dark"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Add playlist">
                        <i class="bi-plus"></i>&nbsp;<span>Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="container-fluid">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th class="col-7">Tittle</th>
            <th>
                <div class="d-none d-md-block">
                    Count of songs
                </div>
                <div class="d-md-none">
                    Songs
                </div>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playlistDto : ${playlistsDto}">
            <td class="text-start">
                <a href="changePlaylist.html"
                   th:href="@{|/playlists/${playlistDto.getPlaylist().playlistId}|}"
                   class="btn-sm btn-outline-light text-decoration-none fs-6"
                   title="Open playlist"
                   th:text="${playlistDto.getPlaylist().getPlaylistName()}">
                    New playlist
                </a>
            </td>
            <td th:text="${playlistDto.getCountOfSongs()}" >56</td>
            <td class="text-end">
                <a href="playlist.html"
                   th:href="@{|/playlists/${playlistDto.getPlaylist().getPlaylistId()}/edit|}"
                   class="btn-sm btn-outline-light"
                   title="Edit playlist">
                    <i class="bi-pen" style="font-size: 1rem;"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                    <a href="#" class="btn-sm btn-outline-light"
                       th:href="@{|/playlists/${playlistDto.getPlaylist().getPlaylistId()}/delete|}"
                       title="Delete playlist"><i class="bi-x" style="font-size: 1.25rem;"></i><span
                            class="d-none d-md-inline">&nbsp;Delete</span>
                    </a>
            </td>
        </tr>
        <tr th:remove="all">
            <td class="text-start">
                <a href="changePlaylist.html"
                   class="btn-sm btn-outline-light text-decoration-none fs-6"
                   title="Open playlist">
                    Old playlist
                </a>
            </td>
            <td>546</td>
            <td class="text-end">
                <a href="playlist.html"
                   class="btn-sm btn-outline-light"
                   title="Edit playlist">
                    <i class="bi-pen" style="font-size: 1rem;"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                    <a href="#" class="btn-sm btn-outline-light"
                       title="Delete playlist"><i class="bi-x" style="font-size: 1.25rem;"></i>
                        <span class="d-none d-md-inline">&nbsp;Delete</span>
                    </a>
                </span>
            </td>
        </tr>
        <tr th:remove="all">
            <td class="text-start">
                <a href="changePlaylist.html"
                   class="btn-sm btn-outline-light text-decoration-none fs-6"
                   title="Open playlist">
                    Very old playlist
                </a>
            </td>
            <td>5463</td>
            <td class="text-end">
                <a href="playlist.html"
                   class="btn-sm btn-outline-light"
                   title="Edit playlist">
                    <i class="bi-pen" style="font-size: 1rem;"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                    <a href="#" class="btn-sm btn-outline-light"
                       title="Delete playlist"><i class="bi-x" style="font-size: 1.25rem;"></i>
                        <span class="d-none d-md-inline">&nbsp;Delete</span>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <hr/>
    <p class="text px-3">&copy;2021</p>
</footer>

<script src="../../static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>