<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Playlists</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand"><img src="../../../resources/static/img/iconfinder-icon.svg"
                                            th:src="@{/resources/static/img/iconfinder-icon.svg}"
                                            height="32" width="32" alt="HR"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="../playlists/playlists.html"
                           th:href="@{/playlists}" >Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="songs.html"
                           th:href="@{/songs}">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <ul class="navbar-nav float-start">
            <li class="nav-item" title="Back to list">
                <a href="../playlists/changePlaylist.html"
                   th:href="@{|/playlists/${playlistId}|}"
                   class="btn btn-light btn-block">
                    <i class="bi-arrow-left"></i></a>
            </li>
        </ul>
        <span class="navbar-brand text-uppercase me-auto">Add songs</span>
    </nav>
</header>
<section class="container-fluid">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Singer</th>
            <th>Tittle</th>
            <th class="d-none d-md-table-cell">Album</th>
            <th class="d-none d-md-table-cell">Release date</th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.getSinger()}"
                class="text-start">
                Michael Jackson
            </td>
            <td th:text="${song.tittle}" >Billie jean</td>
            <td th:text="${song.getAlbum()}" class="d-none d-md-table-cell">Thriller</td>
            <td th:text="${#dates.format(song.getRealiseDate(), 'dd-MM-yyyy')}"
                type="date" class="d-none d-md-table-cell">02-01-1983</td>
            <td class="text-end">
                <form id="addSongForm"
                      th:method="POST"
                      th:action="@{|/playlists/${playlistId}/${song.getSongId()}|}">
                <button class="btn-sm btn-dark btn-outline-light" type="submit" title="Add song"  value="Add">
                    <i class="bi bi-plus-square" style="font-size: 1rem;"></i>
                    <span class="d-none d-md-inline">&nbsp;Add</span>
                </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <hr/>
    <p class="text px-3">&copy;2021</p>
</footer>

<script src="../../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
</body>
</html>