<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Songs</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand"><img src="../../../resources/static/img/iconfinder-icon.svg"
                                            th:src="@{/resources/static/img/iconfinder-icon.svg}"
                                            height="32" width="32" alt="HR"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5"
                           href="../playlists/playlists.html"
                           th:href="@{/playlists}" >Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-5"
                           href="songs.html"
                           th:href="@{/songs}">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Songs</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span data-bs-toggle="modal" data-bs-target="#filterDialog">
                    <a href="#"
                       class="btn btn-outline-dark"
                       title="Filter">
                        <i class="bi bi-filter-square"></i>
                    </a>
                    </span>
                    <a href="song.html"
                       th:href="@{songs/new}"
                       class="btn btn-outline-dark"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Add song">
                        <i class="bi-plus"></i>&nbsp;<span>Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="container-fluid">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Singer</th>
            <th>Tittle</th>
            <th class="d-none d-md-table-cell">Album</th>
            <th class="d-none d-md-table-cell">Release date</th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.getSinger()}"
                class="text-start">
                Metallica
            </td>
            <td th:text="${song.tittle}">Nothing else matters</td>
            <td th:text="${song.getAlbum()}" class="d-none d-md-table-cell">Metallica</td>
            <td th:text="${#dates.format(song.getRealiseDate(), 'dd-MM-yyyy')}"
                type="date" class="d-none d-md-table-cell">02-03-1992</td>
            <td class="text-end">
                <a href="song.html"
                   th:href="@{|/songs/${song.getSongId()}/edit|}"
                   class="btn-sm btn-outline-light"
                   title="Edit song">
                    <i class="bi-pen" style="font-size: 1rem;"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                    <a href="#"
                       th:href="@{|/songs/${song.getSongId()}/delete|}"
                       class="btn-sm btn-outline-light"
                       title="Delete song"><i class="bi-x" style="font-size: 1.25rem;"></i><span
                            class="d-none d-md-inline">&nbsp;Delete</span>
                    </a>
                </span>
            </td>
        </tr>
        <tr th:remove="all">
            <td class="text-start">
                Michael Jackson
            </td>
            <td>Billie jean</td>
            <td class="d-none d-md-table-cell">Thriller</td>
            <td class="d-none d-md-table-cell">02-01-1983</td>
            <td class="text-end">
                <a href="song.html"
                   class="btn-sm btn-outline-light"
                   title="Edit song">
                    <i class="bi-pen" style="font-size: 1rem;"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                    <a href="#" class="btn-sm btn-outline-light"
                       title="Delete song"><i class="bi-x" style="font-size: 1.25rem;"></i><span
                            class="d-none d-md-inline">&nbsp;Delete</span>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<!-- Choose filter -->
<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog"
     aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-dark">
                <h5 class="modal-title" id="filterModalLabel">Choose filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3"
                      method="GET"
                      action="/songs">
                    <div class="input-group mb-3">
                        <span class="input-group-text alert-dark">Date release:from</span>
                        <input type="date" class="form-control" aria-label="startDate" name="startDate" id="startDate">
                        <span class="input-group-text alert-dark">to</span>
                        <input type="date" class="form-control" aria-label="endDate" name="endDate" id="endDate">
                    </div>
                    <div class="d-flex justify-content-end modal-footer">
                        <a href="songs.html"
                           th:href="@{/songs}"
                           class="btn btn-secondary me-1"
                           title="Cancel">Cancel</a>
                        <input type="submit"
                               class="btn btn-success"
                               title="Filter"
                               value="Filter"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <hr/>
    <p class="text px-3">&copy;2021</p>
</footer>
<script src="../../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
</body>
</html>